* {
  margin: 0px;
  padding: 0px;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  text-align: center;
  line-height: 5rem;

}

.choice {
  height: 200px;
  width: 200px;
  margin-top: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.choice:hover {
  background-color: #081b31;

}

img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;

}

.scoreBoard {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  gap: 2rem;
}

.msgContainer {
  text-align: center;
  margin-top: 5rem;

}

#msg {
  padding: 5px;
  border-radius: 12px;
  background-color: #081b31;
  color: white;
  font-size: 2rem;
  display: inline;
}